body {
    font-family: 'Poppins', sans-serif;
    background-color: blue; /* Transparent background */
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    backdrop-filter: blur(5px);
}

#app {
    text-align: center;
    background: rgba(255, 255, 255, 80); /* Semi-transparent background */
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 11);
    backdrop-filter: blur(50px);
    background-color: blue;
    -webkit-backdrop-filter: blur(40px); /* For Safari */
}

h1 {
    margin-bottom: 20px;
    font-weight: 600;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.3);
    color: black;
    background-color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.8s;
}

button:hover {
    background-color: #0056b3;
}

#profile {
    display: none;
    margin-top: 20px;
    text-align: left;
}

#profile img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-details {
    display: flex;
    align-items: center;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    margin: 0 0 10px;
    font-weight: 600;
}

.profile-info p {
    margin: 5px 0;
}

.profile-info a {
    color: orange;
    text-decoration: none;
    font-size: 20px;
}

.profile-info a:hover {
    text-decoration: underline;
    color:coral;
}

.profile-info p i {
    margin-right: 10px;
}
